<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" id="nav-logo-container" href="/"><img src="/images/property-pal-logo-horiz.png"></a>
</nav>

<section class="container white-bg-container">
    <div class="row justify-content-md-center">
        <div class="col-12 page-banner">
            <h1>Search results</h1>
        </div>
    </div>
    <div class="property-information">
        {{#each results}}
        
            <div class="row">
                <div class="card property-card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-10 col-xs-12">
                                {{!-- <p class="card-text"> <img src="{{this.photo}}" style="width: 200px"
                                    alt="Property photo">
                            </p>
                            <h4 class="card-text"><b>Price: {{this.price_string}}</b></h4> --}}
                                <div class="hovereffect">
                                    {{!-- This is the only image line --}}
                                    <img class="img-responsive" src="{{this.photo}}" style="width: 100%"
                                        alt="Property photo">
                                    <div class="overlay">
                                        <h2>{{address1}}</h2>
                                        <a class="info favorite" value={{id}} onclick="handleFavorite(this);">Favorite</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-8">
                                <a href="/property/{{id}}" style= "color:black;"><p class="card-text">{{this.info}}</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-lg-4">
                                <h4 class="card-text"><b>Price: {{this.price_string}}</b></h4>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <p class="card-text"><b>Address:</b><br>
                                    {{this.address1}}<br>{{this.address2}}<br>{{this.postalcode}}
                                </p>

                                <p class="card-text"><b>Property Type:</b> {{this.propertype}}</p>
                            </div>
                            <div class="col-xs-12 col-lg-4">
                                <p class="card-text"><b>Bedrooms:</b> {{this.bedrooms}}</p>
                                <p class="card-text"><b>Bathrooms:</b> {{this.bathrooms}}</p>
                                <p class="card-text"><b>Ownership Type:</b> {{this.ownershiptype}}</p>
                                <p class="card-text"><b>Features:</b> {{this.ammenities}}</p>
                                <p class="card-text"><b>Ammenities Nearby:</b> {{this.ammenitiesnearby}}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </a>
        {{/each}}
    </div>
</section>


<style>
    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

    .hovereffect .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out
    }

    .hovereffect img {
        display: block;
        position: relative;
        -webkit-transition: all .4s linear;
        transition: all .4s linear;
    }

    .hovereffect h2 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        position: relative;
        font-size: 17px;
        background: rgba(0, 0, 0, 0.6);
        -webkit-transform: translatey(-100px);
        -ms-transform: translatey(-100px);
        transform: translatey(-100px);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        padding: 10px;
    }

    .hovereffect a.info {
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        color: #fff;
        border: 1px solid #fff;
        background-color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        margin: 50px 0 0;
        padding: 7px 14px;
    }

    .hovereffect a.info:hover {
        box-shadow: 0 0 5px #fff;
    }

    .hovereffect:hover img {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    .hovereffect:hover .overlay {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .hovereffect:hover h2,
    .hovereffect:hover a.info {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-transform: translatey(0);
        -webkit-transform: translatey(0);
        transform: translatey(0);
    }

    .hovereffect:hover a.info {
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
    }
</style>